@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';
.hourglass,
.hourglass:before,
.hourglass:after {
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.hourglass {
	--polygonH: polygon(
		0% 0%,
		100% 0%,
		100% 5.55%,
		95% 5.55%,
		95% 28%,
		60% 46%,
		60% 54%,
		95% 72%,
		95% 94.45%,
		100% 94.45%,
		100% 100%,
		0% 100%,
		0% 94.45%,
		5% 94.45%,
		5% 72%,
		40% 54%,
		40% 46%,
		5% 28%,
		5% 5.55%,
		0% 5.55%
	);
	animation-name: flip;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(
		$blue 0.05em,
		#737a8c55 0.05em 0.85em,
		$blue 0.85em
	);
	clip-path: var(--polygonH);
	-webkit-clip-path: var(--polygonH);
	overflow: hidden;
	position: relative;
	width: 0.5em;
	height: 0.9em;
	z-index: 0;
}
.hourglass:before,
.hourglass:after {
	animation-timing-function: linear;
	content: '';
	display: block;
	position: absolute;
}
.hourglass:before {
	--polygonB1: polygon(
		0% 0%,
		100% 0%,
		100% 24%,
		50% 47%,
		50% 47%,
		50% 47%,
		50% 47%,
		50% 47%,
		50% 47%,
		50% 47%,
		50% 47%,
		0% 24%
	);
	--polygonB2: polygon(
		0% 4%,
		100% 4%,
		100% 24%,
		55% 45%,
		55% 100%,
		55% 100%,
		55% 100%,
		45% 100%,
		45% 100%,
		45% 100%,
		45% 45%,
		0% 24%
	);
	--polygonB3: polygon(
		0% 24%,
		100% 24%,
		100% 24%,
		55% 45%,
		55% 80%,
		100% 100%,
		100% 100%,
		0% 100%,
		0% 100%,
		45% 80%,
		45% 45%,
		0% 24%
	);
	--polygonB4: polygon(
		45% 45%,
		55% 45%,
		55% 45%,
		55% 45%,
		55% 58%,
		100% 76%,
		100% 100%,
		0% 100%,
		0% 76%,
		45% 58%,
		45% 45%,
		45% 45%
	);
	--polygonB5: polygon(
		50% 53%,
		50% 53%,
		50% 53%,
		50% 53%,
		50% 53%,
		100% 76%,
		100% 100%,
		0% 100%,
		0% 76%,
		50% 53%,
		50% 53%,
		50% 53%
	);
	animation-name: fill;
	background-color: white;
	background-size: 100% 3.6em;
	clip-path: var(--polygonB1);
	-webkit-clip-path: var(--polygonB1);
	top: 0.05em;
	left: 0.05em;
	width: 0.4em;
	height: 0.8em;
	z-index: 1;
}
.hourglass:after {
	animation-name: glare;
	background: linear-gradient(
				90deg,
				#0000 0.05em,
				#0003 0.05em 0.15em,
				#0000 0.15em 0.35em,
				#fff3 0.35em 0.45em,
				#fff0 0.45em 0.65em,
				#0003 0.65em 0.75em,
				#0000 0.75em
			)
			0 0 / 100% 0.05em,
		linear-gradient(
				90deg,
				#0000 0.075em,
				#0003 0.075em 0.125em,
				#0000 0.125em 0.375em,
				#fff3 0.375em 0.425em,
				#fff0 0.425em 0.675em,
				#0003 0.675em 0.725em,
				#0000 0.725em
			)
			0 0.5em / 100% 0.8em,
		linear-gradient(
				90deg,
				#0000 0.05em,
				#0003 0.05em 0.15em,
				#0000 1.5em 0.35em,
				#fff3 0.35em 4.5em,
				#fff0 0.45em 0.65em,
				#0003 0.65em 0.75em,
				#0000 0.75em
			)
			0 100% / 100% 0.05em;
	background-repeat: repeat-x;
	top: 0;
	left: -0.3em;
	width: 200%;
	height: 100%;
	z-index: 2;
}
@keyframes fill {
	from {
		clip-path: var(--polygonB1);
		-webkit-clip-path: var(--polygonB1);
	}
	10% {
		clip-path: var(--polygonB2);
		-webkit-clip-path: var(--polygonB2);
	}
	45% {
		clip-path: var(--polygonB3);
		-webkit-clip-path: var(--polygonB3);
	}
	80% {
		clip-path: var(--polygonB4);
		-webkit-clip-path: var(--polygonB4);
	}
	85%,
	to {
		clip-path: var(--polygonB5);
		-webkit-clip-path: var(--polygonB5);
	}
}
@keyframes glare {
	from,
	90% {
		transform: translateX(0);
	}
	to {
		transform: translateX(0.3em);
	}
}
@keyframes flip {
	from,
	90% {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
@media screen and (max-width: $extra-small) {
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) and (orientation: portrait) {
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
