@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.profil {
	overflow: hidden;
	width: 100%;
	border-top: 2px solid $blue;
	.desc {
		padding: 8vh 25px;
		min-height: calc(100vh - 110px);
		border-bottom: 2px solid $blue;
		.txt {
			> h2 {
				font-family: 'Flaviotte';
				font-weight: 500;
				line-height: 1.1em;
				font-size: 1.3em;
			}
			h2:nth-child(2) {
				margin-bottom: 2vh;
			}
			> p {
				font-family: 'JosefinS';
				font-weight: 350;
				font-size: 1.1em;
				text-align: justify;
			}
		}
		.photoContainer {
			.photo {
			}
		}
	}
	.info {
		position: relative;
		> h3 {
		}
		> h4 {
		}
		.profilContact {
			position: relative;
			.location {
				.imgLogoLocation {
				}
				> p {
				}
			}
			.mail {
				.at {
				}
				> a {
				}
			}
			.btns {
				> button {
				}
				.logoLinkedin {
				}
			}
		}
		.circle {
			position: absolute;
		}
	}
	.stripes {
		position: relative;
		.imgStripes {
		}
	}
	.techs {
		position: relative;
		width: 10%;
		.logoTech {
			.imgTech {
			}
		}
	}
}

@media screen and (max-width: $extra-small) {
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) and (orientation: portrait) {
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
