@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.lang {
	.language {
		font-family: 'JosefinS';
		font-size: 1em;
		text-transform: uppercase;
	}
}
@media screen and (min-width: $large) {
	.lang {
		.language {
			font-size: 1.5em;
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.lang {
		.language {
			font-size: 1.1em;
		}
	}
}
