@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.navbar {
	height: 80px;
	width: calc(100vw - 30px);
	max-width: 100%;
	border-bottom: 2px solid $blue;
	overflow: hidden;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 1001;
	.logo {
		width: 80px;
		min-width: 80px;
		height: 100%;
		border-right: 2px solid $blue;
		overflow: hidden;
		@include flex($dir: row);
		position: relative;
		> p {
			border-right: 2px solid $blue;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 2;
			width: 80px;
			height: 80px;
			@include flex;
			color: $blue;
			font-family: 'Flaviotte';
			font-size: 90px;
			text-align: center;
			line-height: 1em;
			transform: translateX(-100%);
			transition: all 0.4s ease-in-out;

			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 3;
			}
		}
		.showLogo {
			transform: translateX(0);
		}
		.logoStriped {
			width: 100%;
			height: 100%;
			position: relative;
			.imgLogoStriped {
				object-fit: contain;
			}
		}
	}
	.menuBurger {
		height: 100%;
		width: 80px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		@include flex;
		padding: 0;
		.line {
			fill: none;
			stroke: $blue;
			stroke-width: 6;
			transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
				stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.line1 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}
	.opened {
		.line1 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 1 60;
			stroke-dashoffset: -30;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
	}
}
.menuToggled {
	width: 0vw;
	height: 0vh;
	@include flex;
	position: relative;
	transition: all 0.3s ease, box-shadow 0.3s ease;
	.navContainer {
		width: 70%;
		height: 50%;
		margin-bottom: 80px;
		color: $blue;

		> ul {
			> li {
				@include flex;
				margin-bottom: 2.5vh;
				> a {
					font-family: 'Flaviotte';
					font-size: 3em;
					opacity: 0.5;
					transition: all;
					transition: all 0.2s ease-in-out;
				}
				.active {
					opacity: 1;
					font-size: 5em;
				}
			}
		}
		.languageToggle {
			position: absolute;
			bottom: 10px;
			right: 15px;
			font-family: 'JosefinS';
			font-size: 4vh;
		}
	}
}
.expanded {
	transition: all 0.3s ease, box-shadow 0.3s ease;
	transform: translateY(100%);
	height: calc(100vh - 110px);
	width: calc(100vw - 30px);
	max-width: 100%;
	z-index: 1000;
	position: fixed;
	margin-top: 80px;
	border-bottom: 2px solid $blue;
	&.slide-down {
		transition: transform 0.3s ease, opacity 0.3s ease;
		transform: translateY(-100%);
		opacity: 0;
	}
	&.fade-out {
		transition: transform 0.7s ease, opacity 0.3s ease;
		transform: translateY(0);
		opacity: 1;
	}
}
.navbar:before {
	background: url(/img/background.webp) 0 0;
	background-size: 500px 500px;
	width: 100%;
	height: 80px;
	content: '';
	position: absolute;
	z-index: -2;
}
.navbar:after {
	background-image: url(/img/noise.png);
	pointer-events: none !important;
	background-size: 250px 250px;
	-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
	animation: noiseTextureAnim 0.55s steps(1) infinite;
	will-change: background-position;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	content: '';
	width: 100%;
	height: 80px;
	position: absolute;
	z-index: -1;
}
.expanded:before {
	background: url(/img/background.webp) 0 0;
	background-size: 500px 500px;
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	z-index: -2;
}
.expanded:after {
	background-image: url(/img/noise.png);
	pointer-events: none !important;
	background-size: 250px 250px;
	-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
	animation: noiseTextureAnim 0.55s steps(1) infinite;
	will-change: background-position;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@media screen and (max-width: $extra-small) {
	.navbar {
		height: 60px;
		.logo {
			width: 60px;
			min-width: 60px;
		}
		.menuBurger {
			width: 60px;
		}
	}
	.menuToggled {
		.navContainer {
			> ul {
				> li {
					> a {
						font-size: 2.5em;
					}
					.active {
						font-size: 4em;
					}
				}
			}
		}
	}
	.expanded {
		height: calc(100vh - 90px);
		margin-top: 60px;
	}
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) {
	.navbar {
		height: 100px;
		border-bottom: 4px solid $blue;
		.logo {
			border-right: 4px solid $blue;
			width: 100px;
			height: 100px;
			min-width: 100px;
			> p {
				border-right: 4px solid $blue;
				top: 5px;
				left: 5px;
				width: 100px;
				height: 100px;
			}
			.logoStriped {
				position: relative;
				z-index: 1;
				@include flex;
				width: 100px;
				height: 100px;
			}
		}
		.nav {
			position: relative;
			color: $blue;
			@include flex;
			height: 100%;
			width: 100%;
			> ul {
				height: 100%;
				width: 100%;
				@include flex($dir: row, $just: flex-end);
				> li {
					@include flex;
					font-family: 'Flaviotte';
					border-right: 4px solid $blue;
					height: 100%;
					width: calc(20% - 4px);
					position: relative;
					transition: all 0.4s ease-in-out;
					> a {
						font-size: 1.5em;
						padding-top: 5px;
						width: 100%;
						text-align: left;
						padding-left: 25%;
						transition: all 0.4s ease-in-out;
					}
					.active {
					}
					.contact {
						border: none;
					}
				}
				.activeLi {
					width: calc(60% - 4px);
					transition: all 0.4s ease-in-out;
					> a {
						transition: all 0.4s ease-in-out;
						color: black;
						padding-top: 10px;
						font-size: 2.5em;
						padding-left: 30px;
						text-align: left;
					}
				}
			}
			.language {
				position: fixed;
				z-index: 1001;
				top: 140px;
				right: 50px;
				cursor: pointer;
			}
		}
	}
	.navbar:before {
		height: 100px;
	}
	.navbar:after {
		height: 100px;
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
