@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';

.pp {
	height: 100%;
	width: 70%;
	position: relative;
	> img {
		object-fit: contain;
		filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.279));
	}
}
