@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';

.screens {
	width: 100%;
	height: 100%;
	position: relative;
	.screen {
		position: absolute;
		background-color: transparent;

		transition: all 0.3s ease-in-out;
		&:hover {
			transform: translate(0, 0) rotate(0deg) scale(1.3);
			z-index: 5;
		}
		img {
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
		}
	}
	.kbdevHome {
		width: 65vw;
		height: 40%;
		top: 30%;
		left: calc(50% - 32.5vw);
		transform: translate(-8vw, -70%) rotate(-10deg);
		z-index: 3;
		animation: 0.8s ease-in-out kbdevHomeAnim;
	}
	@keyframes kbdevHomeAnim {
		0% {
			transform: translate(-100vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(-8vw, -70%) rotate(-10deg);
		}
	}
	.kbdevHomeMobile {
		width: 18vw;
		height: 45%;
		right: 0;
		top: 27.5%;
		left: calc(50% - 9vw);
		transform: translate(30vw, -70%) rotate(10deg);
		z-index: 4;
		animation: 0.8s ease-in-out kbdevHomeMobileAnim;
	}
	@keyframes kbdevHomeMobileAnim {
		0% {
			transform: translate(60vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(30vw, -70%) rotate(10deg);
		}
	}
	.kbdevAulia {
		width: 55vw;
		height: 40%;
		right: calc(50% - 27.5vw);
		top: 30%;
		transform: translate(8vw, 15%) rotate(-7deg);
		z-index: 2;
		animation: 0.8s ease-in-out kbdevAuliaAnim;
	}
	@keyframes kbdevAuliaAnim {
		0% {
			transform: translate(80vw, 0vh) rotate(0deg);
		}
		100% {
			transform: translate(8vw, 15%) rotate(-7deg);
		}
	}
	.kbdevAuliaMobile {
		width: 18vw;
		height: 45%;
		top: 32%;
		left: calc(50% - 9vw);
		transform: translate(-22vw, -10%) rotate(-6deg);
		z-index: 4;
		animation: 0.8s ease-in-out kbdevAuliaMobileAnim;
	}
	@keyframes kbdevAuliaMobileAnim {
		0% {
			transform: translate(-80vw, 0vh) rotate(0deg);
		}
		100% {
			transform: translate(-22vw, -10%) rotate(-6deg);
		}
	}
	.kbdevDigitalSupport {
		height: 40%;
		width: 70vw;
		left: calc(50% - 35vw);
		top: 30%;
		transform: translate(-5vw, 60%) rotate(5deg);
		z-index: 1;
		animation: 0.8s ease-in-out kbdevDigitalSupportAnim;
	}
	@keyframes kbdevDigitalSupportAnim {
		0% {
			transform: translate(-90vw, 40vh) rotate(0deg);
		}
		100% {
			transform: translate(-5vw, 60%) rotate(5deg);
		}
	}
	// -----------------
	.petshineCarousel {
		width: 18vw;
		height: 45%;
		top: 27.5%;
		left: calc(50% - 9vw);
		transform: translate(-30vw, -50%) rotate(-15deg);
		z-index: 3;
		animation: 0.8s ease-in-out petshineCarouselAnim;
	}
	@keyframes petshineCarouselAnim {
		0% {
			transform: translate(-100vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(-30vw, -50%) rotate(-15deg);
		}
	}
	.petshineFav {
		height: 40%;
		width: 70vw;
		top: 30%;
		right: calc(50% - 35vw);
		transform: translate(12vw, -70%) rotate(7deg);
		z-index: 1;
		animation: 0.8s ease-in-out petshineFavAnim;
	}
	@keyframes petshineFavAnim {
		0% {
			transform: translate(60vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(12vw, -70%) rotate(7deg);
		}
	}
	.petshineHome {
		height: 40%;
		width: 70vw;
		top: 30%;
		left: calc(50% - 35vw);
		transform: translate(5vw, 15%) rotate(-7deg);
		z-index: 2;
		animation: 0.8s ease-in-out petshineHomeAnim;
	}
	@keyframes petshineHomeAnim {
		0% {
			transform: translate(-100vw, 0vh) rotate(0deg);
		}
		100% {
			transform: translate(5vw, 15%) rotate(-7deg);
		}
	}
	.petshineHomeMobile {
		width: 18vw;
		height: 45%;
		top: 27.5%;
		right: calc(50% - 9vw);
		transform: translate(28vw, 45%) rotate(15deg);
		z-index: 3;
		animation: 0.8s ease-in-out petshineHomeMobileAnim;
	}
	@keyframes petshineHomeMobileAnim {
		0% {
			transform: translate(80vw, 0vh) rotate(0deg);
		}
		100% {
			transform: translate(28vw, 45%) rotate(15deg);
		}
	}
	.petshineWelness {
		height: 40%;
		width: 70vw;
		top: 30%;
		left: calc(50% - 35vw);
		transform: translate(-5vw, 50%) rotate(5deg);
		z-index: 1;
		animation: 0.8s ease-in-out petshineWelnessAnim;
	}
	@keyframes petshineWelnessAnim {
		0% {
			transform: translate(-90vw, 40vh) rotate(0deg);
		}
		100% {
			transform: translate(-5vw, 50%) rotate(5deg);
		}
	}
	//--------------------------
	.tcgBackCard {
		width: 25vw;
		height: 45%;
		top: 27.5%;
		right: calc(50% - 12.5vw);
		transform: translate(20vw, -50%) rotate(-25deg);
		z-index: 1;
		animation: 0.8s ease-in-out tcgBackCardAnim;
	}
	@keyframes tcgBackCardAnim {
		0% {
			transform: translate(60vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(20vw, -50%) rotate(-25deg);
		}
	}
	.tcgCards {
		width: 23vw;
		height: 55%;
		top: 22.5%;
		left: calc(50% - 11.5vw);
		transform: translate(-25vw, -35%) rotate(20deg);
		z-index: 3;
		animation: 0.8s ease-in-out tcgCardsAnim;
	}
	@keyframes tcgCardsAnim {
		0% {
			transform: translate(-100vw, -40vh) rotate(0deg);
		}
		100% {
			transform: translate(-25vw, -35%) rotate(20deg);
		}
	}
	.tcgFilters {
		width: 23vw;
		height: 55%;
		top: 22.5%;
		left: calc(50% - 11.5vw);
		z-index: 2;
		animation: 0.8s ease-in-out tcgFiltersAnim;
	}
	@keyframes tcgFiltersAnim {
		0% {
			transform: translate(0vw, 100vh);
		}
		100% {
			transform: translate(0, 0);
		}
	}
	.tcgProfil {
		width: 23vw;
		height: 55%;
		top: 22.5%;
		left: calc(50% - 11.5vw);
		transform: translate(22vw, 25%) rotate(12deg);
		z-index: 2;
		animation: 0.8s ease-in-out tcgProfilAnim;
	}
	@keyframes tcgProfilAnim {
		0% {
			transform: translate(80vw, 0vh) rotate(0deg);
		}
		100% {
			transform: translate(22vw, 25%) rotate(12deg);
		}
	}
	.tcgSeries {
		width: 23vw;
		height: 55%;
		top: 22.5%;
		left: calc(50% - 11.5vw);
		transform: translate(-20vw, 25%) rotate(-18deg);
		z-index: 1;
		animation: 0.8s ease-in-out tcgSeriesAnim;
	}
	@keyframes tcgSeriesAnim {
		0% {
			transform: translate(-90vw, 40vh) rotate(0deg);
		}
		100% {
			transform: translate(-20vw, 25%) rotate(-18deg);
		}
	}
	//------------
	.endAnimFi {
		transform: translate(-100vw, -40vh) rotate(0deg);
	}
	.endAnimS {
		transform: translate(60vw, -40vh) rotate(0deg);
	}
	.endAnimT {
		transform: translate(90vw, 0vh) rotate(0deg);
	}
	.endAnimFo {
		transform: translate(-80vw, 0vh) rotate(0deg);
	}
	.endAnimFif {
		transform: translate(-90vw, 40vh) rotate(0deg);
	}
}
@keyframes screensExitAnimation {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-100vw);
	}
}

@media screen and (min-width: $medium) {
	.screens {
		.kbdevHome {
			height: 45%;
			top: 27.5%;
			transform: translate(-8vw, -60%) rotate(-10deg);
		}
		@keyframes kbdevHomeAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(-8vw, -60%) rotate(-10deg);
			}
		}
		.kbdevHomeMobile {
			height: 50%;
			top: 25%;
			transform: translate(30vw, -55%) rotate(10deg);
		}
		@keyframes kbdevHomeMobileAnim {
			0% {
				transform: translate(60vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(30vw, -55%) rotate(10deg);
			}
		}
		.kbdevAulia {
			height: 45%;
			top: 27.5%;
		}
		.kbdevAuliaMobile {
			height: 50%;
			top: 25%;
			transform: translate(-22vw, 10%) rotate(-6deg);
		}
		@keyframes kbdevAuliaMobileAnim {
			0% {
				transform: translate(-80vw, 0vh) rotate(0deg);
			}
			100% {
				transform: translate(-22vw, 10%) rotate(-6deg);
			}
		}
		.kbdevDigitalSupport {
			height: 45%;
			top: 25%;
			transform: translate(0vw, 55%) rotate(5deg);
		}
		@keyframes kbdevDigitalSupportAnim {
			0% {
				transform: translate(-90vw, 40vh) rotate(0deg);
			}
			100% {
				transform: translate(0vw, 55%) rotate(5deg);
			}
		}
		// -----------------
		.petshineCarousel {
			height: 50%;
			top: 25%;
			transform: translate(-30vw, -40%) rotate(-15deg);
		}
		@keyframes petshineCarouselAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(-30vw, -40%) rotate(-15deg);
			}
		}
		.petshineFav {
			height: 45%;
			top: 27.5%;
			transform: translate(12vw, -60%) rotate(7deg);
		}
		@keyframes petshineFavAnim {
			0% {
				transform: translate(60vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(12vw, -60%) rotate(7deg);
			}
		}
		.petshineHome {
			height: 45%;
			top: 27.5%;
			transform: translate(5vw, 10%) rotate(-7deg);
		}
		@keyframes petshineHomeAnim {
			0% {
				transform: translate(-100vw, 0vh) rotate(0deg);
			}
			100% {
				transform: translate(5vw, 10%) rotate(-7deg);
			}
		}
		.petshineHomeMobile {
			height: 50%;
			top: 25%;
			transform: translate(28vw, 40%) rotate(15deg);
		}
		@keyframes petshineHomeMobileAnim {
			0% {
				transform: translate(80vw, 0vh) rotate(0deg);
			}
			100% {
				transform: translate(28vw, 40%) rotate(15deg);
			}
		}
		.petshineWelness {
			height: 45%;
			top: 27.5%;
			transform: translate(-5vw, 45%) rotate(5deg);
		}
		@keyframes petshineWelnessAnim {
			0% {
				transform: translate(-90vw, 40vh) rotate(0deg);
			}
			100% {
				transform: translate(-5vw, 45%) rotate(5deg);
			}
		}
		//--------------------------
		.tcgBackCard {
			height: 50%;
			top: 25%;
			transform: translate(20vw, -45%) rotate(-25deg);
		}
		@keyframes tcgBackCardAnim {
			0% {
				transform: translate(60vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(20vw, -45%) rotate(-25deg);
			}
		}
		.tcgCards {
			height: 65%;
			top: 17.5%;
			transform: translate(-25vw, -25%) rotate(20deg);
		}
		@keyframes tcgCardsAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg);
			}
			100% {
				transform: translate(-25vw, -25%) rotate(20deg);
			}
		}
		.tcgFilters {
			height: 65%;
			top: 17.5%;
		}
		.tcgProfil {
			height: 65%;
			top: 17.5%;
			transform: translate(22vw, 20%) rotate(12deg);
		}
		@keyframes tcgProfilAnim {
			0% {
				transform: translate(80vw, 0vh) rotate(0deg);
			}
			100% {
				transform: translate(22vw, 20%) rotate(12deg);
			}
		}
		.tcgSeries {
			height: 65%;
			top: 17.5%;
			transform: translate(-20vw, 20%) rotate(-18deg);
		}
		@keyframes tcgSeriesAnim {
			0% {
				transform: translate(-90vw, 40vh) rotate(0deg);
			}
			100% {
				transform: translate(-20vw, 20%) rotate(-18deg);
			}
		}
		.endAnimFi {
			transform: translate(-100vw, -40vh) rotate(0deg);
		}
		.endAnimS {
			transform: translate(60vw, -40vh) rotate(0deg);
		}
		.endAnimT {
			transform: translate(90vw, 0vh) rotate(0deg);
		}
		.endAnimFo {
			transform: translate(-80vw, 0vh) rotate(0deg);
		}
		.endAnimFif {
			transform: translate(-90vw, 40vh) rotate(0deg);
		}
	}
}
@media screen and (max-width: $large) {
	.screens {
		.screen {
			&:hover {
				transform: translate(auto, auto) rotate(0deg) scale(1.3);
				z-index: 5;
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.screens {
		.screen {
			transition: all 0.8s ease-in-out;
		}
		.kbdevHome {
			width: 35vw;
			height: 45%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(-18vw, -10%) rotate(-10deg) scale(1);
			&:hover {
				transform: translate(-18vw, 10%) scale(1.4);
			}
		}
		@keyframes kbdevHomeAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-18vw, 0) rotate(-10deg) scale(1);
			}
		}
		.kbdevHomeMobile {
			width: 10vw;
			height: 55%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(4vw, 10%) rotate(12deg) scale(1);
			&:hover {
				transform: translate(4vw, 0%) scale(1.4);
			}
		}
		@keyframes kbdevHomeMobileAnim {
			0% {
				transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(4vw, 0%) rotate(12deg) scale(1);
			}
		}
		.kbdevAulia {
			width: 35vw;
			height: 40%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(20vw, 50%) rotate(12deg) scale(1);
			&:hover {
				transform: translate(20vw, 50%) scale(1.4);
			}
		}
		@keyframes kbdevAuliaAnim {
			0% {
				transform: translate(80vw, 0vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(20vw, 50%) rotate(12deg) scale(1);
			}
		}
		.kbdevAuliaMobile {
			width: 10vw;
			height: 45%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(7vw, -5%) rotate(-5deg) scale(1);
			&:hover {
				transform: translate(7vw, -5%) scale(1.4);
			}
		}
		@keyframes kbdevAuliaMobileAnim {
			0% {
				transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(7vw, -5%) rotate(-5deg) scale(1);
			}
		}
		.kbdevDigitalSupport {
			width: 35vw;
			height: 40%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(15vw, -50%) rotate(-10deg) scale(1);
			&:hover {
				transform: translate(15vw, -50%) scale(1.4);
			}
		}
		@keyframes kbdevDigitalSupportAnim {
			0% {
				transform: translate(90vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(15vw, -50%) rotate(-10deg) scale(1);
			}
		}
		// -----------------
		.petshineCarousel {
			width: 10vw;
			height: 45%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(-30vw, 0%) rotate(7deg) scale(1);
			&:hover {
				transform: translate(-30vw, 0%) scale(1.4);
			}
		}
		@keyframes petshineCarouselAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-30vw, 0%) rotate(7deg) scale(1);
			}
		}
		.petshineFav {
			width: 35vw;
			height: 40%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(-15vw, -70%) rotate(-7deg) scale(1);
			&:hover {
				transform: translate(-15vw, -70%) scale(1.4);
			}
		}
		@keyframes petshineFavAnim {
			0% {
				transform: translate(-80vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-15vw, -70%) rotate(-7deg) scale(1);
			}
		}
		.petshineHome {
			width: 35vw;
			height: 40%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(0vw, 15%) rotate(7deg) scale(1);
			&:hover {
				transform: translate(0vw, 15%) scale(1.4);
			}
		}
		@keyframes petshineHomeAnim {
			0% {
				transform: translate(0vw, 80vh) rotate(0deg) scale(0) scale(0);
			}
			100% {
				transform: translate(0vw, 15%) rotate(7deg) scale(1);
			}
		}
		.petshineHomeMobile {
			width: 10vw;
			height: 45%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(18vw, -35%) rotate(-15deg) scale(1);
			&:hover {
				transform: translate(18vw, -35%) scale(1.4);
			}
		}
		@keyframes petshineHomeMobileAnim {
			0% {
				transform: translate(80vw, 0vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(18vw, -35%) rotate(-15deg) scale(1);
			}
		}
		.petshineWelness {
			width: 35vw;
			height: 40%;
			top: 30%;
			left: calc(50% - 15vw);
			transform: translate(20vw, 50%) rotate(-15deg) scale(1);
			&:hover {
				transform: translate(20vw, 50%) scale(1.4);
			}
		}
		@keyframes petshineWelnessAnim {
			0% {
				transform: translate(90vw, 40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(20vw, 50%) rotate(-15deg) scale(1);
			}
		}
		//--------------------------
		.tcgBackCard {
			width: 18vw;
			height: 55%;
			top: 27.5%;
			left: calc(50% - 7.5vw);
			transform: translate(-25vw, -60%) rotate(15deg) scale(1);

			&:hover {
				transform: translate(-25vw, -60%) scale(1.4);
			}
		}
		@keyframes tcgBackCardAnim {
			0% {
				transform: translate(-80vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-25vw, -60%) rotate(15deg) scale(1);
			}
		}
		.tcgCards {
			width: 15vw;
			height: 55%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(-20vw, 0%) rotate(-10deg) scale(1);
			&:hover {
				transform: translate(-20vw, 0%) scale(1.4);
			}
		}
		@keyframes tcgCardsAnim {
			0% {
				transform: translate(-100vw, 40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-20vw, 0%) rotate(-10deg) scale(1);
			}
		}
		.tcgFilters {
			width: 15vw;
			height: 55%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(-8vw, -10%) rotate(10deg) scale(1);
			&:hover {
				transform: translate(-8vw, -10%) scale(1.4);
			}
		}
		@keyframes tcgFiltersAnim {
			0% {
				transform: translate(0vw, 100vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-8vw, -10%) rotate(10deg) scale(1);
			}
		}
		.tcgProfil {
			width: 15vw;
			height: 55%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(6vw, 10%) rotate(-5deg) scale(1);
			&:hover {
				transform: translate(6vw, 10%) scale(1.4);
			}
		}
		@keyframes tcgProfilAnim {
			0% {
				transform: translate(0vw, -100vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(6vw, 10%) rotate(-5deg) scale(1);
			}
		}
		.tcgSeries {
			width: 15vw;
			height: 55%;
			top: 30%;
			left: calc(50% - 4vw);
			transform: translate(20vw, -25%) rotate(15deg) scale(1);
			&:hover {
				transform: translate(20vw, -25%) scale(1.4);
			}
		}
		@keyframes tcgSeriesAnim {
			0% {
				transform: translate(90vw, 40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(20vw, -25%) rotate(15deg) scale(1);
			}
		}
		//------------
		.endAnimFi {
			transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimS {
			transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimT {
			transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFo {
			transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFif {
			transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			}
		}
	}
	@keyframes screensExitAnimation {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			opacity: 0;
			transform: translateY(-100vw);
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
	.screens {
		.kbdevHome {
			width: 30vw;
			transform: translate(-20vw, 0) rotate(-10deg) scale(1);
			&:hover {
				transform: translate(-20vw, 0) scale(1.4);
			}
		}
		@keyframes kbdevHomeAnim {
			0% {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
			100% {
				transform: translate(-20vw, 0) rotate(-10deg) scale(1);
			}
		}
		.kbdevHomeMobile {
			width: 9vw;
		}
		.kbdevAulia {
			width: 28vw;
		}
		.kbdevAuliaMobile {
			width: 9vw;
		}
		.kbdevDigitalSupport {
			width: 30vw;
		}
		// -----------------
		.petshineCarousel {
			width: 9vw;
		}
		.petshineFav {
			width: 30vw;
		}
		.petshineHome {
			width: 30vw;
		}
		.petshineHomeMobile {
			width: 9vw;
		}
		.petshineWelness {
			width: 30vw;
		}
		//--------------------------
		.tcgBackCard {
			width: 17vw;
		}
		.tcgCards {
			width: 13vw;
		}
		.tcgFilters {
			width: 13vw;
		}
		.tcgProfil {
			width: 13vw;
		}
		.tcgSeries {
			width: 13vw;
		}
		//------------
		.endAnimFi {
			transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimS {
			transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimT {
			transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFo {
			transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFif {
			transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			}
		}
	}
	@keyframes screensExitAnimation {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			opacity: 0;
			transform: translateY(-100vw);
		}
	}
}
@media screen and (min-width: $ultra-large) {
	.screens {
		//--------------------------
		.tcgBackCard {
			width: 16vw;
		}
		.tcgCards {
			width: 12vw;
		}
		.tcgFilters {
			width: 12vw;
		}
		.tcgProfil {
			width: 12vw;
		}
		.tcgSeries {
			width: 12vw;
		}
		//------------
		.endAnimFi {
			transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-100vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimS {
			transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(60vw, -40vh) rotate(0deg) scale(0);
			}
		}
		.endAnimT {
			transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(90vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFo {
			transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-80vw, 0vh) rotate(0deg) scale(0);
			}
		}
		.endAnimFif {
			transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			&:hover {
				transform: translate(-90vw, 40vh) rotate(0deg) scale(0);
			}
		}
	}
	@keyframes screensExitAnimation {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			opacity: 0;
			transform: translateY(-100vw);
		}
	}
}
