@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.footer {
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
	.scrollText {
		height: 140px;
		transition: all 0.5s ease-in-out;
		position: relative;
		overflow: hidden;
		.marquee {
			overflow: hidden;
			height: 100%;
			font-family: 'Flaviotte';
			font-size: 190px;
			line-height: 175px;
			color: transparent;
			transition: all 0.5s ease-in-out;
			white-space: nowrap;
			span {
				-webkit-text-stroke: 0px white;
			}
		}
	}
	.container {
		position: relative;
		height: 40vh;
		width: 100%;
		@include flex($just: flex-end);
		transition: all 0.5s ease-in-out;
		font-family: 'JosefinS';
		.terms {
			opacity: 0.4;
			position: absolute;
			top: 15px;
			cursor: pointer;
		}
		.credit {
			margin-bottom: 10px;
			font-size: 0.8em;
		}
		> p {
			font-size: 1.3em;
		}
		.photoContainer {
			width: 70%;
			height: 80%;
			position: absolute;
			top: -15%;
			right: -5%;
			transform: rotate(10deg) translateX(100vw);
			transition: all 0.8s ease-in-out;
		}
		.showPhoto {
			transform: rotate(10deg) translateX(0);
		}
	}
}
.component {
	opacity: 0;
	animation: appAnim 0.8s ease-out 1.6s forwards;
}
@keyframes appAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: $extra-small) {
	.footer {
		.container {
			.credit {
				width: 80%;
				text-align: center;
			}
		}
	}
}
@media screen and (min-width: $small) {
	.footer {
		.container {
			.photoContainer {
				width: 50%;
				height: 90%;
				transform: rotate(10deg) translateX(60vw);
			}
			.showPhoto {
				transform: rotate(10deg) translateX(0);
			}
		}
	}
}
@media screen and (min-width: $medium) {
	.footer {
		.container {
			height: 30vh;
			.photoContainer {
				right: -5%;
			}
		}
	}
}
@media screen and (min-width: $large) {
	.footer {
		padding-bottom: 40px;
		.container {
			.credit {
				margin-bottom: 15px;
				font-size: 1em;
			}
			> p {
				font-size: 1.7em;
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
	.footer {
		.container {
			height: 30vh;
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.footer {
		.container {
			height: 40vh;
			.photoContainer {
				width: 20%;
				height: 100%;
				right: 0;
			}
		}
	}
}
