@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.footer {
	padding-bottom: 20px;
	.scrollText {
		height: 140px;
		border-bottom: 2px solid $blue;
		position: relative;
		overflow: hidden;
		> p {
			font-family: 'Flaviotte';
			font-size: 190px;
			line-height: 175px;
			color: transparent;
			-webkit-text-stroke: 4px $blue;
			white-space: nowrap;
		}
	}
	.container {
		position: relative;
		height: 40vh;
		width: 100%;
		@include flex($just: flex-end);
		color: $blue;
		font-family: 'JosefinS';
		.credit {
			cursor: pointer;
			margin-bottom: 10px;
		}
		> p {
			font-size: 1.3em;
		}
	}
}

@media screen and (max-width: $extra-small) {
	.footer {
		.container {
			.credit {
				width: 80%;
				text-align: center;
			}
		}
	}
}
@media screen and (min-width: $medium) {
	.footer {
		.container {
			height: 30vh;
		}
	}
}
@media screen and (min-width: $large) {
	.footer {
		padding-bottom: 40px;
		.scrollText {
			border-bottom: 4px solid $blue;
		}
		.container {
			.credit {
				margin-bottom: 15px;
				font-size: 1.2em;
			}
			> p {
				font-size: 1.7em;
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
	.footer {
		.container {
			height: 30vh;
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.footer {
		.container {
			height: 40vh;
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
