@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.contact {
	position: relative;
	overflow: hidden;
	@include flex($just: flex-start);
	padding-bottom: 25vh;
	transition: all 0.5s ease-in-out;
	.title {
		background-color: transparent;
		width: 100%;
		height: 70px;
		transition: all 0.5s ease-in-out;
		@include flex($dir: row);
		> h3 {
			width: 40%;
			text-align: center;
			font-family: 'Flaviotte';
			font-size: 2.2em;
			font-weight: 400;
		}
		.patternContainer {
			position: relative;
			transition: all 0.5s ease-in-out;
			width: calc(60% - 2px);
			height: 100%;
		}
	}
	.inputs {
		background: url(/img/background.webp) 0 0;
		width: 70%;
		@include flex;
		position: relative;
		z-index: 5;
		> a {
			font-family: 'Flaviotte';
			width: 100%;
			text-align: center;
			font-size: 1.2em;
			font-weight: 600;
			padding-top: 7vh;
			cursor: pointer;
		}
		.input {
			width: 100%;
			margin: 2.5px 0;
			transition: all 0.5s ease-in-out;
			input {
				width: calc(100% - 11px);
				transition: all 0.5s ease-in-out;
				border-radius: 2px;
				font-family: 'JosefinS';
				padding: 15px 5px;
				&::placeholder {
					font-size: 1.1em;
				}
				&:focus {
					outline: none;
				}
			}
		}
		.message {
			margin-bottom: -2.5px;
			> textarea {
				transition: all 0.5s ease-in-out;
				width: calc(100% - 11px);
				border-radius: 2px;
				font-family: 'JosefinS';
				height: 20vh;
				padding: 15px 5px;
				resize: none;
				&::placeholder {
					font-size: 1.1em;
				}
				&:focus {
					outline: none;
				}
			}
		}
		.btnContainer {
			position: absolute;
			bottom: -35px;
			color: white;
			height: 35px;
			width: 60%;
			@include flex($just: flex-end);
			.btn {
				font-family: 'JosefinS';
				transition: all 0.5s ease-in-out;
				height: 30px;
				width: 100%;
				border-radius: 2px;
				> span {
					margin-left: 5px;
				}
			}
			&:before {
				background: url(/img/background.webp) 0 0;
				background-size: 500px 500px;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				z-index: -1;
			}
			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 0;
			}
		}
		&:before {
			background: url(/img/background.webp) 0 0;
			background-size: 500px 500px;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			z-index: -1;
		}
		&:after {
			background-image: url(/img/noise.png);
			pointer-events: none !important;
			background-size: 250px 250px;
			-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
			animation: noiseTextureAnim 0.55s steps(1) infinite;
			will-change: background-position;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 0;
		}
	}
	.modalContainer {
		height: fit-content;
		width: 80vw;
		position: fixed;
		bottom: 30px;
		z-index: 999;
		transition: all 0.5s ease-out;
		transform: translateX(100vw);
	}
	.showContainer {
		transform: translateX(0);
	}
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@media screen and (max-width: $extra-small) {
	.contact {
		padding-bottom: 25vh;
		.title {
			height: 50px;
			> h3 {
				width: 45%;
			}
			.patternContainer {
				width: calc(55% - 2px);
			}
		}
		.inputs {
			> a {
				font-size: 1em;
				padding-top: 10vh;
			}
		}
	}
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
	.contact {
		padding-bottom: 15vh;
		.title {
			> h3 {
				width: 55%;
			}
			.patternContainer {
				width: calc(45% - 2px);
			}
		}
		.inputs {
			> a {
				font-size: 0.8em;
				padding-top: 7vh;
			}
		}
	}
}
@media screen and (min-width: $small) {
	.contact {
		.modalContainer {
			width: 50vw;
			right: 30px;
		}
	}
}
@media screen and (min-width: $medium) {
	.contact {
		padding-bottom: 15vh;
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 25%;
			}
			.patternContainer {
				width: calc(75% - 2px);
			}
		}
		.inputs {
			width: 50%;
			> a {
				font-size: 1.8em;
			}
			.input {
				margin: 5px 0;
			}
			.message {
				margin-bottom: 0;
				> textarea {
					height: 15vh;
				}
			}
			.btnContainer {
				bottom: -35px;
				height: 35px;
				width: 50%;
			}
		}
		.modalContainer {
			width: 40vw;
		}
	}
}
@media screen and (min-width: $large) {
	.contact {
		.title {
			> h3 {
				width: 30%;
			}
			.patternContainer {
				width: calc(70% - 4px);
			}
		}
		.modalContainer {
			bottom: 45px;
			right: 45px;
		}
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
	.contact {
		.inputs {
			width: 40%;
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.contact {
		padding-bottom: 25vh;
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 20%;
			}
			.patternContainer {
				width: calc(80% - 2px);
			}
		}
		.inputs {
			width: 40%;
			> a {
				font-size: 1.8em;
				padding-top: 10vh;
			}
			.input {
				margin: 5px 0;
			}
			.message {
				margin-bottom: 0;
				> textarea {
					height: 25vh;
				}
			}
			.btnContainer {
				bottom: -35px;
				height: 35px;
				width: 50%;
			}
		}
		.modalContainer {
			width: 35vw;
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) and (min-height: $medium) {
	.contact {
		padding-bottom: 15vh;
		.inputs {
			.message {
				> textarea {
					height: 15vh;
				}
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (max-height: $medium) {
	.contact {
		.inputs {
			> a {
				font-size: 2.3em;
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (min-height: $medium) {
	.contact {
		.inputs {
			> a {
				font-size: 2.6em;
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
	.contact {
		padding-bottom: 20vh;
		.title {
			> h3 {
				width: 15%;
				font-size: 2.8em;
			}
			.patternContainer {
				width: calc(85% - 2px);
			}
		}
		.inputs {
			@include flex($dir: row);
			> a {
				font-weight: 400;
			}
			label:nth-child(2) {
				width: calc(45% - 10px);
				margin-right: 10px;
			}
			label:nth-child(3) {
				width: 55%;
			}
			.input {
				input {
					padding: 10px 5px;
				}
			}
			.message {
				> textarea {
					height: 20vh;
				}
			}
			.btnContainer {
				bottom: -35px;
				height: 35px;
				width: 45%;
			}
		}
	}
}
@media screen and (min-width: $ultra-large) {
	.contact {
		padding-bottom: 25vh;
		.inputs {
			> a {
				font-size: 3vw;
				padding-top: 15vh;
			}
		}
		.modalContainer {
			width: 25vw;
		}
	}
}
