@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.custom404 {
	@include flex;
	height: 100vh;
	width: 100vw;
	.container {
		height: 100px;
		width: 80%;
		margin-bottom: 55px;
		@include flex($dir: row);
		position: relative;
		z-index: 5;
		overflow: hidden;
		.error {
			transform: translateX(100%);
			z-index: 3;
			height: 70%;
			width: 45%;
			margin-right: 4.5%;
			font-family: 'JosefinS';
			font-weight: 500;
			font-size: 2.5em;
			animation: errorAnim 0.6s ease-out 0.5s forwards;
			@include flex(
				$dir: row,
				$just: flex-end,
				$align: flex-end,
				$wrap: nowrap
			);
			background-color: transparent;
			span {
				font-size: 0.4em;
			}
		}
		.splitter {
			width: 1%;
			z-index: 5;
			border-radius: 10px;
			height: 100%;
			background-color: black;
			transform: translateY(50vh);
			animation: splitterAnim 0.3s ease-out 0.2s forwards;
		}
		.logoContainer {
			z-index: 1;
			height: 100%;
			width: 44.5%;
			margin-left: 5%;
			// margin-left: 4.5%;
			@include flex($align: flex-start);
			animation: imgAnim 0.6s ease-out 0.9s forwards;
			.logo {
				font-family: 'Flaviotte';
				font-weight: 400;
				font-size: 5em;
				color: $blue;
				margin-top: 20px;
				@include flex($align: flex-start);
				position: relative;
				height: 95px;
				width: 95px;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
				&:active {
					transform: scale(0.99);
				}
			}
		}
		.coverError {
			width: 49.75%;
			height: 100%;
			position: absolute;
			margin-top: 20px;
			z-index: 2;
			left: 0;
			&:before {
				background: url(/img/background.webp) 0 0;
				background-size: 500px 500px;
				width: 100%;
				height: 80px;
				content: '';
				position: absolute;
				z-index: 0;
			}
			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 80px;
				position: absolute;
				z-index: 1;
			}
		}
		.coverLogo {
			width: 49.75%;
			height: 100%;
			margin-top: 20px;
			position: absolute;
			z-index: 4;
			right: 0;
			// background-color: white;
			transform: translateX(0);
			animation: coverAnim 0.2s ease-out 0.9s forwards;
			&:before {
				background: url(/img/background.webp) 0 0;
				background-size: 500px 500px;
				width: 100%;
				height: 80px;
				content: '';
				position: absolute;
				z-index: 0;
			}
			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 80px;
				position: absolute;
				z-index: 1;
			}
		}
	}
}

@keyframes splitterAnim {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes errorAnim {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes imgAnim {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@keyframes coverAnim {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@media screen and (max-width: $extra-small) {
	.custom404 {
		@include flex;
		.container {
			.error {
				font-size: 2em;
			}
		}
	}
}
@media screen and (min-width: $medium) {
	.custom404 {
		.container {
			width: 70%;
			.error {
				width: 45%;
				margin-right: 4.75%;
			}
			.splitter {
				width: 0.5%;
			}
			.logoContainer {
				width: 45%;
				margin-left: 4.5%;
			}
		}
	}
}

@media screen and (min-width: $extra-large) {
	.custom404 {
		.container {
			width: 50%;
			.error {
				font-size: 3.5em;
			}
		}
	}
}
@media screen and (min-width: $ultra-large) {
	.custom404 {
		.container {
			width: 30%;
		}
	}
}
