@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';

.lines {
	opacity: 0.8;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: calc(100% - 70px);
	bottom: 0;
	@include flex($dir: row, $just: space-around, $align: flex-end);
	.line {
		width: 1px;
		background-color: white;
		height: 0%;
		animation: linesAppear 1s ease-in-out 2s;
		animation-fill-mode: forwards;
	}
}

@keyframes linesAppear {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@media screen and (max-width: $extra-small) {
	.lines {
		height: calc(100% - 50px);
	}
}
@media screen and (min-width: $medium) and (orientation: landscape) {
	.lines {
		clip-path: polygon(
			30% 49%,
			70% 49%,
			85% 0,
			100% 0,
			100% 100%,
			0 100%,
			0 0,
			15% 0
		);
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
