@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.sideFrame {
	position: fixed;
	transition: all 0.5s ease-in-out;
}
.top {
	width: 0;
	height: 14px;
	top: 0;
	left: 15px;
	z-index: 1003;
	animation: topAnim 1s linear 2s forwards;
}
.right {
	width: 15px;
	height: 0;
	bottom: 13px;
	right: 0;
	box-sizing: border-box;
	z-index: 1002;
	animation: sideAnim 1s linear 1s forwards;
}
.bottom {
	width: calc(100% - 30px);
	height: 13px;
	bottom: 0;
	left: 0;
	z-index: 1003;
	animation: bottomAnim 1s linear forwards;
}
.left {
	width: 15px;
	height: 0;
	bottom: 13px;
	left: 0;
	box-sizing: border-box;
	z-index: 1002;
	animation: sideAnim 1s linear 1s forwards;
}
.corner {
	width: 15px;
	height: 13px;
	z-index: 1004;
}
.rightBottom {
	bottom: 0;
	right: 0;
}
.leftBottom {
	bottom: 0;
	left: 0;
}
.sideFrame:before {
	background: url(/img/background.svg) 0 0;
	background-size: 500px 500px;
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	z-index: -2;
}
.sideFrame:after {
	background-image: url(/img/noise.png);
	pointer-events: none !important;
	background-size: 250px 250px;
	-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
	animation: noiseTextureAnim 0.55s steps(1) infinite;
	will-change: background-position;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
@keyframes bottomAnim {
	0% {
		width: 0;
		left: 50%;
	}
	100% {
		width: calc(100% - 30px);
		left: 15px;
	}
}
@keyframes sideAnim {
	0% {
		height: 0;
	}
	100% {
		height: calc(100vh - 27px);
	}
}
@keyframes topAnim {
	0% {
		width: 0;
	}
	100% {
		width: calc(100% - 30px);
	}
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@media screen and (min-width: $large) {
	.top {
		height: 25px;
		width: 0;
		left: 22px;
	}
	.right {
		width: 25px;
		height: 0;
		bottom: 25px;
	}
	.bottom {
		height: 25px;
		width: 0;
		left: 50%;
	}
	.left {
		width: 25px;
		height: 0;
		bottom: 25px;
	}
	.corner {
		width: 21px;
		height: 26px;
		z-index: 1004;
	}
	@keyframes bottomAnim {
		0% {
			width: 0;
			left: 50%;
		}
		100% {
			width: calc(100% - 44px);
			left: 22px;
		}
	}
	@keyframes sideAnim {
		0% {
			height: 0;
		}
		100% {
			height: calc(100vh - 50px);
		}
	}
	@keyframes topAnim {
		0% {
			width: 0;
		}
		100% {
			width: calc(100% - 44px);
		}
	}
}
