@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';

.circle {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: transparent;
	@include flex($just: flex-start);
	animation: circleAppear 1s ease-in-out 1s;
	transform: translateY(-50%);
	animation-fill-mode: forwards;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
@keyframes circleAppear {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0%);
	}
}

@media screen and (max-width: $extra-small) {
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) and (orientation: portrait) {
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
