@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

@media screen and (max-width: $large) {
	.themes {
		position: absolute;
		left: 15px;
		bottom: 25px;
		z-index: 1005;
		@include flex($align: flex-end, $dir: row);
		.theme {
			height: 15px;
			width: 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			margin-right: 10px;
			opacity: 0.5;
		}
		.blue {
			background-color: $blueMain;
		}
		.green {
			background-color: $greenMain;
		}
		.yellow {
			background-color: $yellowMain;
		}
		.purple {
			background-color: $purpleMain;
		}
		.pink {
			background-color: $pinkMain;
		}
		.white {
			background-color: $whiteMain;
		}
		.selected {
			width: 20px;
			height: 20px;
			cursor: none;
			opacity: 1;
		}
	}
}
@media screen and (min-width: $large) {
	.themes {
		position: fixed;
		left: 6.5px;
		bottom: 29px;
		z-index: 1005;
		width: 0;
		@include flex($align: flex-end);
		animation: themeAnim 0.3s ease-in-out forwards 1.6s;
		.theme {
			height: 15px;
			width: 50%;
			margin-top: 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			opacity: 0.5;
		}
		.blue {
			background-color: $blueMain;
		}
		.green {
			background-color: $greenMain;
		}
		.yellow {
			background-color: $yellowMain;
		}
		.purple {
			background-color: $purpleMain;
		}
		.pink {
			background-color: $pinkMain;
		}
		.white {
			background-color: $whiteMain;
		}
		.selected {
			width: 100%;
			cursor: none;
			opacity: 1;
		}
	}
	@keyframes themeAnim {
		0% {
			width: 0;
		}
		100% {
			width: 15px;
		}
	}
}
