@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.projects {
	width: 100%;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	.title {
		width: 100%;
		height: 70px;
		transition: all 0.5s ease-in-out;
		@include flex($dir: row);
		> h3 {
			width: 40%;
			text-align: center;
			font-family: 'Flaviotte';
			font-size: 2.2em;
			font-weight: 400;
		}
		.patternContainer {
			position: relative;
			transition: all 0.5s ease-in-out;
			width: calc(60% - 2px);
			height: 100%;
			transition: all 0.5s ease-in-out;
			opacity: 1;
		}
		.transition {
			opacity: 0;
		}
	}
	.screensContainer {
		width: 100%;
		height: 40vh;
	}
	.descProject {
		width: 100%;
		transition: all 0.5s ease-in-out;
		h4 {
			font-family: 'Flaviotte';
			font-size: 2em;
			color: transparent;
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
			transition: all 0.5s ease-in-out;
		}
		.titleEndAnim {
			transform: scale(0);
			opacity: 0;
		}
		> p {
			padding: 0 25px;
			font-family: 'JosefinS';
			font-weight: 350;
			text-align: justify;
			transition: all 0.5s ease-in-out;
		}
		.descEndAnim {
			transform: scale(0);
			opacity: 0;
		}
		.techs {
			padding: 30px 40px 40px 40px;
			@include flex($dir: row);
			.logoTech {
				position: relative;
				transition: all 0.5s ease-in-out;
				width: calc(calc(100vw - 110px) / 6);
				height: calc(calc(100vw - 110px) / 6);
				margin: 10px calc(calc(calc(100vw - 110px) / 6) / 4);
				transform: scale(1);
				&:hover {
					transform: scale(1.1);
				}
				img {
					object-fit: contain;
				}
			}
			.techAnim {
				transform: scale(0);
			}
		}
	}
	.btns {
		height: 50px;
		transition: all 0.5s ease-in-out;
		position: relative;
		@include flex($dir: row);
		font-family: 'JosefinS';
		font-weight: 400;
		font-size: 0.9em;
		.viewProject {
			position: relative;
			width: 40%;
			height: 100%;
			cursor: pointer;
			> p {
				padding: 10px 10px;
			}
			.arrowD {
				position: absolute;
				height: 20px;
				width: 20px;
				right: 5px;
				bottom: 5px;
				transition: all 0.5s ease-in-out;
				opacity: 1;
			}
			.transition {
				opacity: 0;
			}
			&:hover {
				.arrowD {
					transform: scale(1.1);
				}
			}
			&:active {
				.arrowD {
					transform: scale(0.95);
				}
			}
		}
		.logoStriped {
			position: relative;
			z-index: -2;
			width: calc(60% - 2px);
			height: 100%;
			transition: all 0.5s ease-in-out;
			opacity: 1;
		}
		.transition {
			opacity: 0;
		}
		.next {
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			width: 35%;
			height: 50%;
			transition: all 0.5s ease-in-out;
			@include flex($just: space-around, $dir: row);
			padding: 0 2px;
			cursor: pointer;
			> p {
				font-size: 0.8em;
			}
			.arrowH {
				position: relative;
				width: 20px;
				height: 10px;
				transition: all 0.5s ease-in-out;
				opacity: 1;
			}
			.transition {
				opacity: 0;
			}
			&:before {
				background: url(/img/background.webp) 0 0;
				background-size: 500px 500px;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				z-index: -1;
			}
			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 0;
			}
			&:hover {
				.arrowH {
					transform: scale(1.1);
				}
			}
			&:active {
				.arrowH {
					transform: scale(0.95);
				}
			}
		}
	}
	.scrollText {
		height: 140px;
		transition: all 0.5s ease-in-out;
		position: relative;
		overflow: hidden;
		> div {
			font-family: 'Flaviotte';
			font-size: 190px;
			line-height: 175px;
			color: transparent;
			transition: all 0.5s ease-in-out;
			white-space: nowrap;
		}
	}
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@media screen and (max-width: $extra-small) {
	.projects {
		.title {
			height: 50px;
			> h3 {
				width: 45%;
			}
			.patternContainer {
				width: calc(55% - 2px);
			}
		}
		.screensContainer {
			height: 50vh;
		}
		.descProject {
			> p {
				font-size: 0.9em;
			}
		}
		.btns {
			font-size: 0.8em;
			.viewProject {
				.arrowD {
					height: 15px;
					width: 15px;
				}
			}
			.next {
				.arrowH {
					width: 15px;
					height: 10px;
				}
			}
		}
	}
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
	.projects {
		.title {
			> h3 {
				width: 55%;
			}
			.patternContainer {
				width: calc(45% - 2px);
			}
		}
		.screensContainer {
			height: 40vh;
		}
		.descProject {
			.techs {
				padding: 15px 40px 20px 40px;
			}
		}
	}
}
@media screen and (min-width: $small) {
	.projects {
		.screensContainer {
			height: 50vh;
		}
		.descProject {
			> p {
				font-size: 1.1em;
			}
			.techs {
				.logoTech {
					width: calc(calc(100vw - 110px) / 10);
					height: calc(calc(100vw - 110px) / 10);
					margin: 10px calc(calc(calc(100vw - 110px) / 7) / 4);
				}
			}
		}
	}
}
@media screen and (min-width: $medium) {
	.projects {
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 25%;
			}
			.patternContainer {
				width: calc(75% - 2px);
			}
		}
		.descProject {
			@include flex;
			h4 {
				font-size: 2.3em;
			}
			> p {
				padding: 0 50px;
			}
			.techs {
				width: 50%;
				padding: 15px 0 25px 0;
				.logoTech {
					margin: 10px calc(calc(calc(100% / 9) / 14) * 2);
					width: calc(100% / 9);
					height: calc(50vw / 9);
				}
			}
		}
		.btns {
			height: 60px;
			font-size: 1.2em;
			.viewProject {
				width: 25%;
				.arrowD {
					height: 25px;
					width: 25px;
					right: 7px;
					bottom: 7px;
				}
			}
			.logoStriped {
				width: calc(75% - 2px);
			}
			.next {
				width: 20%;
				> p {
					font-size: 0.9em;
				}
				.arrowH {
					width: 30px;
					height: 15px;
				}
			}
		}
	}
}
@media screen and (min-width: $large) {
	.projects {
		.title {
			> h3 {
				width: 30%;
			}
			.patternContainer {
				width: calc(70% - 4px);
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
	.projects {
		.screens {
			height: 35vh;
		}
		.btns {
			.logoStriped {
				width: calc(75% - 4px);
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.projects {
		border-bottom: 0;
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 20%;
				box-sizing: border-box;
				height: 100%;
				@include flex;
			}
			.patternContainer {
				width: 80%;
				border-left: 0;
			}
		}
		.projectContainer {
			height: calc(100vh - 100px);
			width: 100%;
			@include flex($dir: row, $wrap: nowrap);
			.descContainer {
				width: 30%;
				height: 100%;
				transition: all 0.5s ease-in-out;
				@include flex($wrap: nowrap);
				.desc {
					transition: all 0.5s ease-in-out;
					box-sizing: border-box;
					width: 100%;
					flex: 1;
					@include flex($align: flex-start);
					.title {
						padding: 15px;
						width: auto;
						text-align: left;
						font-family: 'Flaviotte';
						font-size: 1.5em;
						font-weight: 100;
						transition: all 0.5s ease-in-out;
					}
					.content {
						transition: all 0.5s ease-in-out;
						height: 0px;
						overflow: hidden;
						font-family: 'JosefinS';
						font-weight: 300;
						.text {
							padding: 0 15px;
							margin-bottom: 15px;
						}
						.techs {
							width: 70%;
							margin: 0 15px 5px 15px;
							@include flex($dir: row, $just: flex-start);
							.logoTech {
								position: relative;
								width: 20%;
								margin: 0 5px 10px 0;
								aspect-ratio: 3/2;
								transition: all 0.5s ease-in-out;
								img {
									object-fit: contain;
								}

								&:hover {
									transform: scale(1.3);
								}
							}
						}
						.btns {
							height: 50px;
							transition: all 0.5s ease-in-out;
							.viewProject {
								transition: all 0.5s ease-in-out;
								box-sizing: border-box;
								height: 100%;
								width: 55%;
								font-size: 0.8em;
								font-weight: 400;
								.arrowD {
									bottom: 6px;
									height: 20px;
									width: 20px;
									transition: all 0.5s ease-in-out;
									opacity: 1;
								}
								.transition {
									opacity: 0;
								}
							}
							.inDevelopment {
								transition: all 0.5s ease-in-out;
								box-sizing: border-box;
								height: 100%;
								width: 55%;
								@include flex($just: space-around, $dir: row);
								> p {
									font-size: 0.7em;
									font-weight: 400;
									width: 50%;
									text-align: center;
								}
								.loader {
									width: 20%;
									height: 100%;
									@include flex;
									transform: scale(1.5);
								}
							}
							.pattern {
								width: 45%;
								height: 100%;
								position: relative;
								transition: all 0.5s ease-in-out;
								opacity: 1;
							}
							.transition {
								opacity: 0;
							}
						}
					}
					.show {
						height: fit-content;
					}
				}
				.selected {
					flex: none;
					.title {
						font-size: 2.4em;
					}
				}
				.notSelected {
					flex: 1;
				}
			}
			.screensContainer {
				transition: all 0.5s ease-in-out;
				width: 70%;
				height: 100%;
				box-sizing: border-box;
				position: relative;
				.screens {
					width: 100%;
					height: 100%;
				}
				.linesContainer {
					width: 25%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					z-index: -1;
				}
			}
		}
		// .content {
		// 	transition: all 0.5s ease-in-out;
		// 	width: 100%;
		// 	display: grid;
		// 	grid-template-columns: 30% 70%;
		// 	grid-template-rows: 65vh 60px;
		// 	position: relative;
		// 	.descProject {
		// 		grid-column: 1/2;
		// 		grid-row: 1/2;
		// 		height: 100%;
		// 		width: 100%;
		// 		border-bottom: 0;
		// 		transition: all 0.5s ease-in-out;
		// 		box-sizing: border-box;
		// 		@include flex($just: flex-end, $align: flex-start);
		// 		z-index: 3;
		// 		&:before {
		// 			background: url(/img/background.webp) 0 0;
		// 			background-size: 500px 500px;
		// 			width: calc(30% - 4px);
		// 			height: 65vh;
		// 			content: '';
		// 			position: absolute;
		// 			z-index: -2;
		// 		}
		// 		&:after {
		// 			background-image: url(/img/noise.png);
		// 			pointer-events: none !important;
		// 			background-size: 250px 250px;
		// 			-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
		// 			animation: noiseTextureAnim 0.55s steps(1) infinite;
		// 			will-change: background-position;
		// 			-webkit-backface-visibility: hidden;
		// 			backface-visibility: hidden;
		// 			-webkit-transform: translateZ(0);
		// 			transform: translateZ(0);
		// 			content: '';
		// 			width: calc(30% - 4px);
		// 			height: 65vh;
		// 			position: absolute;
		// 			z-index: -1;
		// 		}
		// 		> p {
		// 			padding: 0;
		// 			text-align: left;
		// 			margin: 0 25px 5px 25px;
		// 		}
		// 		.techs {
		// 			width: 50%;
		// 			padding: 0;
		// 			margin: 0 25px 25px 25px;
		// 			justify-content: flex-start;
		// 			.logoTech {
		// 				margin: 10px calc(calc(100% / 0) / 8) 0 calc(calc(100% / 5) / 8);
		// 				width: calc(100% / 5);
		// 				height: calc(15vw / 5);
		// 				&:hover {
		// 					transform: scale(1.3);
		// 				}
		// 			}
		// 		}
		// 	}
		// 	.screensContainer {
		// 		grid-column: 2/3;
		// 		grid-row: 1/2;
		// 		height: 100%;
		// 		position: relative;
		// 		.showProject {
		// 			height: 100%;
		// 			width: 100%;
		// 			@include flex($align: flex-start, $just: flex-end);
		// 			position: absolute;
		// 			z-index: 2;
		// 			transform: translateX(-100%);
		// 			overflow: hidden;
		// 			transition: all 1.5s ease-in-out;
		// 			> h4 {
		// 				min-width: 100%;
		// 				font-family: 'Flaviotte';
		// 				font-size: 20vw;
		// 				line-height: 12vw;
		// 				color: transparent;
		// 				-webkit-text-stroke: 0.01px white;
		// 				white-space: nowrap;
		// 				transition: all 1.5s ease-in-out;
		// 				transform: translateX(100%);
		// 			}
		// 			.showTitle {
		// 				transform: translateX(0%);
		// 			}
		// 		}
		// 		.visible {
		// 			transform: translateX(0);
		// 		}
		// 		.project {
		// 			@include flex($align: flex-start);
		// 			position: relative;
		// 			z-index: 1;
		// 			width: 100%;
		// 			height: 100%;
		// 			> h4 {
		// 				padding-left: 10%;
		// 				font-family: 'Flaviotte';
		// 				font-size: 5.5vw;
		// 				color: transparent;
		// 				transition: all 0.5s ease-in-out;
		// 				white-space: nowrap;
		// 			}
		// 			.linesContainer {
		// 				width: 25%;
		// 				height: 100%;
		// 				position: absolute;
		// 				top: 0;
		// 				right: 0;
		// 				z-index: -1;
		// 			}
		// 		}
		// 	}
		// 	.screens {
		// 		grid-column: 2/3;
		// 		grid-row: 1/2;
		// 		position: absolute;
		// 		top: 0;
		// 		left: 0;
		// 		z-index: 3;
		// 		height: 100%;
		// 		width: 100%;
		// 		transition: all 1.5s ease-in-out;
		// 		transform: translateX(-100%);
		// 	}
		// 	.screensVisible {
		// 		transform: translateX(0);
		// 	}
		// 	.btns {
		// 		grid-column: 1/3;
		// 		grid-row: 2/3;
		// 		transition: all 0.5s ease-in-out;
		// 		border-bottom: 0;
		// 		@include flex($align: flex-start);
		// 		.viewProject {
		// 			transition: all 0.5s ease-in-out;
		// 			box-sizing: border-box;
		// 			height: 100%;
		// 			width: 30%;
		// 			.arrowD {
		// 				bottom: 11px;
		// 			}
		// 		}
		// 		.inDevelopment {
		// 			transition: all 0.5s ease-in-out;
		// 			box-sizing: border-box;
		// 			height: 100%;
		// 			width: 30%;
		// 			@include flex($dir: row);
		// 			> p {
		// 				width: 50%;
		// 				text-align: center;
		// 			}
		// 			.loader {
		// 				width: 20%;
		// 				height: 100%;
		// 				@include flex;
		// 				transform: scale(2);
		// 			}
		// 		}
		// 		.pattern {
		// 			width: 70%;
		// 			height: 100%;
		// 			border: 0;
		// 			position: relative;
		// 		}
		// 	}
		// }
	}
}
@media screen and (min-width: $large) and (orientation: landscape) and (min-height: $medium) {
	.projects {
		.projectContainer {
			height: calc(100vh - 220px);
		}
		.content {
			grid-template-rows: 50vh 60px;
			.descProject {
				&:before {
					height: 50vh;
				}
				&:after {
					height: 50vh;
				}
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) and (max-height: $medium) {
	.projects {
		.content {
			.screensContainer {
				.showProject {
					> h4 {
						font-size: 15vw;
						line-height: 9vw;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) and (min-height: $medium) {
	.projects {
		.title {
			> h3 {
				width: 15%;
				font-size: 2.8em;
			}
			.patternContainer {
				width: calc(85% - 2px);
			}
		}
		.content {
			.descProject {
				> p {
					font-size: 1.4em;
				}
			}
		}
	}
}
@media screen and (min-width: $ultra-large) {
	.projects {
		.projectContainer {
			.descContainer {
				.desc {
					@include flex($align: flex-start);
					.title {
						padding: 25px;
					}
					.content {
						.text {
							padding: 0 50px 10px 25px;
						}
						.techs {
							width: 50%;
							margin: 0 25px 20px 25px;
							.logoTech {
								width: 15%;
							}
						}
						.btns {
							.viewProject {
								width: 35%;
							}
							.inDevelopment {
								width: 35%;
							}
							.pattern {
								width: 65%;
							}
						}
					}
				}
				.selected {
					@include flex($just: flex-end, $align: flex-start);
					min-height: 50%;
				}
			}
		}
		// .content {
		// 	grid-template-columns: 20% 80%;
		// 	grid-template-rows: 45vh 60px;
		// 	.descProject {
		// 		.techs {
		// 			.logoTech {
		// 				height: calc(10vw / 5);
		// 			}
		// 		}
		// 		&:before {
		// 			height: 45vh;
		// 			width: calc(20% - 4px);
		// 		}
		// 		&:after {
		// 			height: 45vh;
		// 			width: calc(20% - 4px);
		// 		}
		// 	}
		// 	.screensContainer {
		// 		.showProject {
		// 			> h4 {
		// 				font-size: 12vw;
		// 				line-height: 7.5vw;
		// 				transform: translateX(110%);
		// 			}
		// 		}
		// 	}
		// 	.btns {
		// 		.viewProject {
		// 			width: 20%;
		// 		}
		// 		.inDevelopment {
		// 			width: 20%;
		// 			.loader {
		// 				width: 15%;
		// 			}
		// 		}
		// 		.pattern {
		// 			width: 80%;
		// 		}
		// 	}
		// }
	}
}
