@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.projects {
	width: 100%;
	color: $blue;
	.title {
		width: 100%;
		height: 70px;
		border-bottom: 2px solid $blue;
		@include flex($dir: row);
		> h3 {
			width: 40%;
			text-align: center;
			font-family: 'Flaviotte';
			font-size: 2.2em;
			font-weight: 400;
		}
		.patternContainer {
			position: relative;
			border-left: 2px solid $blue;
			width: calc(60% - 2px);
			height: 100%;
		}
	}
	.screens {
		width: 100%;
		height: 40vh;
	}
	.descProject {
		width: 100%;
		border-bottom: 2px solid $blue;
		h4 {
			font-family: 'Flaviotte';
			font-size: 2em;
			-webkit-text-stroke: 0.85px $blue;
			color: transparent;
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
		}
		> p {
			padding: 0 25px;
			font-family: 'JosefinS';
			font-weight: 350;
			text-align: justify;
		}
		.techs {
			padding: 30px 40px 40px 40px;
			@include flex($dir: row);
			.logoTech {
				position: relative;
				transition: all 0.2s ease-in-out;
				width: calc(calc(100vw - 110px) / 6);
				height: calc(calc(100vw - 110px) / 6);
				margin: 10px calc(calc(calc(100vw - 110px) / 6) / 4);
				&:hover {
					transform: scale(1.1);
				}
				img {
					object-fit: contain;
				}
			}
		}
	}
	.btns {
		height: 50px;
		border-bottom: 2px solid $blue;
		position: relative;
		@include flex($dir: row);
		font-family: 'JosefinS';
		font-weight: 400;
		font-size: 0.9em;
		.viewProject {
			position: relative;
			width: 40%;
			height: 100%;
			cursor: pointer;
			> p {
				padding: 10px 10px;
			}
			.arrowD {
				position: absolute;
				height: 20px;
				width: 20px;
				right: 5px;
				bottom: 5px;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				.arrowD {
					transform: scale(1.1);
				}
			}
			&:active {
				.arrowD {
					transform: scale(0.95);
				}
			}
		}
		.logoStriped {
			position: relative;
			z-index: -2;
			width: calc(60% - 2px);
			height: 100%;
			border-left: 2px solid $blue;
		}
		.next {
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			width: 35%;
			height: 50%;
			border-left: 2px solid $blue;
			border-bottom: 2px solid $blue;
			@include flex($just: space-around, $dir: row);
			padding: 0 2px;
			cursor: pointer;
			> p {
				font-size: 0.8em;
			}
			.arrowH {
				position: relative;
				width: 20px;
				height: 10px;
				transition: all 0.2s ease-in-out;
			}
			&:before {
				background: url(/img/background.webp) 0 0;
				background-size: 500px 500px;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				z-index: -1;
			}
			&:after {
				background-image: url(/img/noise.png);
				pointer-events: none !important;
				background-size: 250px 250px;
				-webkit-animation: noiseTextureAnim 0.55s steps(1) infinite;
				animation: noiseTextureAnim 0.55s steps(1) infinite;
				will-change: background-position;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 0;
			}
			&:hover {
				.arrowH {
					transform: scale(1.1);
				}
			}
			&:active {
				.arrowH {
					transform: scale(0.95);
				}
			}
		}
	}
	.scrollText {
		height: 140px;
		border-bottom: 2px solid $blue;
		position: relative;
		overflow: hidden;
		> p {
			font-family: 'Flaviotte';
			font-size: 190px;
			line-height: 175px;
			color: transparent;
			-webkit-text-stroke: 4px $blue;
			white-space: nowrap;
		}
	}
}

@keyframes noiseTextureAnim {
	0% {
		background-position: 0 0;
	}
	10% {
		background-position: 10px 10px;
	}
	20% {
		background-position: 150px 20px;
	}
	30% {
		background-position: 125px 125px;
	}
	40% {
		background-position: 40px 170px;
	}
	50% {
		background-position: 125px 125px;
	}
	60% {
		background-position: 90px 10px;
	}
	70% {
		background-position: 60px 100px;
	}
	80% {
		background-position: 20px 70px;
	}
	90% {
		background-position: 120px 80px;
	}
	to {
		background-position: 0 250px;
	}
}

@media screen and (max-width: $extra-small) {
	.projects {
		.title {
			height: 50px;
			> h3 {
				width: 45%;
			}
			.patternContainer {
				width: calc(55% - 2px);
			}
		}
		.descProject {
			> p {
				font-size: 0.9em;
			}
		}
		.btns {
			font-size: 0.8em;
			.viewProject {
				.arrowD {
					height: 15px;
					width: 15px;
				}
			}
			.next {
				.arrowH {
					width: 15px;
					height: 10px;
				}
			}
		}
	}
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
	.projects {
		.title {
			> h3 {
				width: 55%;
			}
			.patternContainer {
				width: calc(45% - 2px);
			}
		}
	}
}
@media screen and (min-width: $small) {
	.projects {
		.descProject {
			> p {
				font-size: 1.1em;
			}
		}
	}
}
@media screen and (min-width: $medium) {
	.projects {
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 25%;
			}
			.patternContainer {
				width: calc(75% - 2px);
			}
		}
		.descProject {
			@include flex;
			h4 {
				font-size: 2.3em;
			}
			> p {
				padding: 0 50px;
			}
			.techs {
				width: 50%;
				padding: 15px 0 25px 0;
				.logoTech {
					margin: 10px calc(calc(calc(100% / 9) / 14) * 2);
					width: calc(100% / 9);
					height: calc(50vw / 9);
				}
			}
		}
		.btns {
			height: 60px;
			font-size: 1.2em;
			.viewProject {
				width: 25%;
				.arrowD {
					height: 25px;
					width: 25px;
					right: 7px;
					bottom: 7px;
				}
			}
			.logoStriped {
				width: calc(75% - 2px);
			}
			.next {
				width: 20%;
				> p {
					font-size: 0.9em;
				}
				.arrowH {
					width: 30px;
					height: 15px;
				}
			}
		}
	}
}
@media screen and (min-width: $large) {
	.projects {
		.title {
			border-bottom: 4px solid $blue;
			> h3 {
				width: 30%;
			}
			.patternContainer {
				border-left: 4px solid $blue;
				width: calc(70% - 4px);
			}
		}
		.descProject {
			border-bottom: 4px solid $blue;
		}
		.btns {
			border-bottom: 4px solid $blue;

			.logoStriped {
				border-left: 4px solid $blue;
			}
			.next {
				border-left: 4px solid $blue;
				border-bottom: 4px solid $blue;
			}
		}
		.scrollText {
			border-bottom: 4px solid $blue;
		}
	}
}
@media screen and (min-width: $large) and (orientation: portrait) {
	.projects {
		.screens {
			height: 35vh;
		}
		.btns {
			.logoStriped {
				border-left: 4px solid $blue;
				width: calc(75% - 4px);
			}
		}
	}
}
@media screen and (min-width: $large) and (orientation: landscape) {
	.projects {
		border-bottom: 0;
		.title {
			@include flex($dir: row, $wrap: nowrap);
			> h3 {
				width: 20%;
				border-right: 4px solid $blue;
				box-sizing: border-box;
				height: 100%;
				@include flex;
			}
			.patternContainer {
				width: 80%;
				border-left: 0;
			}
		}
		.content {
			border-bottom: 4px solid $blue;
			width: 100%;
			display: grid;
			grid-template-columns: 25% 75%;
			grid-template-rows: 60vh 60px;
			.descProject {
				background-color: aliceblue;
				grid-column: 1/2;
				grid-row: 1/2;
				height: 100%;
				width: 100%;
				border-bottom: 0;
				border-right: 4px solid $blue;
				box-sizing: border-box;
				> p {
					padding: 0;
				}
				.techs {
					.logoTech {
					}
				}
			}
			.screensContainer {
				background-color: pink;
				grid-column: 2/3;
				grid-row: 1/2;
				.showProject {
					> h4 {
					}
					.screens {
					}
				}
			}
			.btns {
				grid-column: 1/3;
				grid-row: 2/3;
				border-top: 4px solid $blue;
				border-bottom: 0;
				@include flex($align: flex-start);
				.viewProject {
					border-right: 4px solid $blue;
					box-sizing: border-box;
					height: 100%;
					width: 25%;
					> p {
					}
					.arrowD {
					}
				}
				.inDevelopment {
					border-right: 4px solid $blue;
					box-sizing: border-box;
					height: 100%;
					width: 25%;
					@include flex($dir: row);
					> p {
						width: 50%;
						text-align: center;
					}
					.loader {
						width: 30%;
						height: 100%;
						@include flex;
						transform: scale(2);
					}
				}
				.pattern {
					width: 75%;
					height: 100%;
					border: 0;
					position: relative;
				}
			}
		}
	}
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
	.projects {
		.title {
			> h3 {
				width: 15%;
				font-size: 2.8em;
			}
			.patternContainer {
				width: calc(85% - 2px);
			}
		}
	}
}
@media screen and (min-width: $ultra-large) {
}
