@import './styles/variables.scss';
@import './styles/mixins.scss';

.components {
	opacity: 0;
	animation: appAnim 0.8s ease-out forwards;
}
@keyframes appAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@media screen and (max-width: $extra-small) {
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) and (orientation: portrait) {
}
@media screen and (min-width: $large) and (orientation: landscape) {
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
}
@media screen and (min-width: $ultra-large) {
}
