$extra-small: 320px;
$small: 500px;
$medium: 768px;
$large: 992px;
$extra-large: 1140px;
$ultra-large: 1500px;
$giga-large: 1700px;

$blue: #0070a2;
$blueLight: #bce4f6;
$error: #ff3333;

$blueMain: #0070a2;
$blueLight: #bce4f6;

$greenMain: #00a24e;
$greenLight: #a6f6d3;

$yellowMain: #f2b63d;
$yellowLight: #f7e9c2;

$purpleMain: #7f00ff;
$purpleLight: #c996ff;

$pinkMain: #ff1e75;
$pinkLight: #ff9cc8;

$whitheMain: #ffffff;
$whitheLight: #e9e9e9;
