@import '../../../styles/variables.scss';
@import 'styles/mixins.scss';

.lines {
	opacity: 0.8;
	width: 100%;
	height: 0%;
	@include flex($dir: row, $just: space-around, $align: flex-end);
	.line {
		width: 1px;
		background-color: white;
		height: 100%;
	}
}
.linesAnimate {
	animation: linesAppear 1.5s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes linesAppear {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
